.position-y {
  &-enter {
    &-from {
      top: -200%;
    }
    &-active {
      transition: top var(--position-y-time, .5s) ease-out;
    }
    &-to {
      top: 0;
    }
  }
  &-leave {
    &-from {
      top: 0;
    }
    &-active {
      transition: top var(--position-y-time, .5s) ease-out;
    }
    &-to {
      top: -200%;
    }
  }
}
